{% extends 'base.html' %}

{% block title %}
{{ titulo }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>{{ titulo }}</h2>
        <hr>

        <form method="POST" action="" novalidate>
            
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.nombre.label(class="form-label") }}
                {{ form.nombre(class="form-control") }}
                {% for error in form.nombre.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.stock.label(class="form-label") }}
                {{ form.stock(class="form-control", type="number") }} {% for error in form.stock.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.precio.label(class="form-label") }}
                {{ form.precio(class="form-control", type="number", step="0.01") }} 
                {% for error in form.precio.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.submit(class="btn btn-primary") }}
                <a href="{{ url_for('repuestos.listar_repuestos') }}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}